@media (max-width: 1024px)  {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .for__item  {
        height: 268px;
    }

    .product-content    {
        column-gap: 29px;
        row-gap: 38px;
    }

    .footer__logo   {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 833px)   {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product    {
        width: 345px;
    }

    .filter-form {
        top: 100px;
        left: -150px;
    }

    .cart {
        gap: 64px;
        margin-top: 66px;
        display: flex;
        flex-direction: column;
    }

    .cart__form {
        max-width: 376px;
    }

    .menu-mob   {
        display: none;
    }
}